input/build/03. AOTT - LinkedIn - Send messages.json
{
  "name": "03. AOTT - LinkedIn - Send messages",
  "nodes": [
    {
      "parameters": {},
      "id": "41af3193-9e67-4dde-81d2-75e12b2b4c30",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        288
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "personUrl": "={{ $json.linked_in_url }}",
        "messageText": "={{ $json.message }}"
      },
      "id": "f1bebede-151e-42e6-8b5e-ab4e93da9b3c",
      "name": "Send LinkedIn Message",
      "type": "n8n-nodes-linked-api.linkedApi",
      "typeVersion": 1,
      "position": [
        704,
        112
      ],
      "credentials": {
        "linkedApi": {
          "id": "APCNAE4t0QvRGJhk",
          "name": "Linked account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "78bcc8df-da9f-4508-92fc-75275321d9e4",
      "name": "Wait for Response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        288
      ],
      "webhookId": "f7b0e352-49fc-46ee-b489-2b5013a1658f"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e8ca8648-cc26-4d6e-90e9-08eb584bf901",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UAYNPT57E82S-by4ktY2mrHJLY3Us-LUE6Xuk1woido/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UAYNPT57E82S-by4ktY2mrHJLY3Us-LUE6Xuk1woido/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        288
      ],
      "id": "c91524ad-2186-44c8-8711-e09283020ad7",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JtTn44Qb4hyWILAc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LinkedIn Message": {
      "main": [
        [
          {
            "node": "Wait for Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Send LinkedIn Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02893dee-7189-4169-a78c-2ad1410402ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2db06c6600bcdf3183f72abdc7ed84248271182f2b5b83d91a56fbf9621799d"
  },
  "id": "nOvbncprrZ67plNl",
  "tags": []
}